@import "variables";
@import "bootstrap";

body {font-family: $font;}

@import "material";

@import "top-header";
@import "navbar";
@import "footer";
@import "backToTop";
@import "slippry";


a:hover,
a:focus {
  color: #D50000;
}
.navbar-material-light-blue-900.navbar .dropdown-menu li > a:hover, .navbar-material-light-blue-900.navbar .dropdown-menu li > a:focus {
  color: #D50000;
}

.btn {
    border: 0 none;
}
.navbar.navbar {
    background-color:  #01579B;
}
//SLider
.news-slider {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.news-slider .image-content img {
    width: 100%;
}
.news-slider .text-content {

  background-color: transparent;

}
.news-slider .text-content p {
    background-color: rgba(56,105,142,0.7);
    color: #fff;
    padding: 25px 15px;
}
.news-slider .text-content h2 {
    color: #fff;
    font-weight: 700;
}
.news-slider .text-content {
    
   
  
    padding: 2em;
    width: 40%;
}
//SLider


.bottom-slide {
    z-index: 1000;
    .bottom-slide-blocks {
        background-color: #fff;
        padding: 10px;
        color: #000;
    }
}

article {
    p {
        text-indent: 20px;
    }
    
    h1 {
        font-weight: 400;
    }
    ul {
        li {
            list-style-type: none;
        &:before {
            content: "- ";
        }    
        }
    }
}

.service {
    margin-top: 30px;

    .block {
    background-color:#38698E;
    border-color: #fff;
    border-radius: 0;
    border-style: none;
    border-width: 0;
    margin: 0;
    padding: 0;
    h3 {
        color: #fff;
        text-align: center;
        padding: 15px 20px;
        font-weight: bold;
    }
    a {
        color: #fff;
    }
    p {
        color: #fff;
        text-align: center;
        padding-bottom: 15px;
        line-height: 1.7;
        
        
    }

    }
    
}

.form-control-wrapper input{
      margin: 30px 0;
    }
.arrow_box_bottom {
    position: relative;
    background: #38698E;
}
.arrow_box_bottom:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(30, 40, 58, 0);
    border-top-color: #38698E;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box_top {
    position: relative;
    background: #1E283A;
}
.arrow_box_top:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(30, 40, 58, 0);
    border-bottom-color: #1E283A;
    border-width: 30px;
    margin-left: -30px;
}

.callback {
    margin-top: 20px;
    padding: 30px;
}